<div class="container mt-5">
  <h5>{{restaurant.name}}</h5>
  <a href="/restaurants/{{restaurant._id}}/edit">Edit</a>
  <form action="/restaurants/{{ restaurant._id }}?_method=DELETE" method="POST" style="display: inline;">
    <button type="submit" class="btn btn-danger">Delete</button>
  </form>
  <div class="photo d-flex justify-content-center m-3">
    <img src="{{restaurant.image}}" alt="Restaurant photo" style="height: 45vh">
  </div>
  <div class="detail">
    <p class="mb-1">
      <span class="text-secondary">
        類別：
      </span>
      {{restaurant.category}}
    </p>
    <p class="mb-1">
      <span class="text-secondary">
        地址：
      </span>
      {{restaurant.location}}
    </p>
    <p class="mb-1">
      <span class="text-secondary">
        電話：
      </span>
      {{restaurant.phone}}
    </p>
    <p class="mb-1">
      {{restaurant.description}}
    </p>
  </div>

</div>